@{
    ViewData["Title"] = "Create Post";
}

@* Author: Jing Yang
Date: Sept 6, 2024
 *@

<script type="module">
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js';
  import { getDatabase, ref as dbRef, set, push, onValue, update, remove, serverTimestamp } from 'https://www.gstatic.com/firebasejs/9.1.3/firebase-database.js';
  import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-storage.js";
  import { getAuth, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js';

  import { firebaseConfig } from "~/Views/Shared/config.js";

  const app = initializeApp(firebaseConfig);
  const database = getDatabase(app);
  const storage = getStorage(app);
  const auth = getAuth(app);

  const imgsRef = storageRef(storage, "images");

  async function addPost(postsRef, userId, title, content, imgURL, uid, photoURL) {
  try {
    const newPostRef = push(postsRef);
    await set(newPostRef, { userId, title, content, imgURL, uid, photoURL, 'createdAt': serverTimestamp()});
    console.log('Post created!');
    window.location.href="/Main/MyPosts";
  } catch (error) {
    console.error('Error message: ', error);
  }
  }

  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('addPostForm').addEventListener('submit', (event) => {
      event.preventDefault();

      const title = document.getElementById('title').value;
      const content = document.getElementById('content').value;
      const imgFile = document.getElementById('imgFile');
      const file = imgFile.files[0];  

      if(file){

        const imgRef = storageRef(storage, `images/${file.name}`);

        try{

          uploadBytes(imgRef, file).then((snapshot) => {

            getDownloadURL(snapshot.ref).then((downloadURL) => {

              onAuthStateChanged(auth, (user) => {
                if (user) {

                  const postsRef = dbRef(database, `Posts/${user.uid}`);
                  addPost(postsRef, user.displayName, title, content, downloadURL, user.uid, user.photoURL);

                } else {
                  console.log("User logged out!");
                }
              });
            });
          });

        } catch(error) {

        console.log('Upload failed:', error);

        }

      }   else {

        alert("No file is selected!");

      }

    });
  });

</script>

<h2>Create a Post</h2>

<form id="addPostForm">

  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="title" class="form-control" />
    <label class="form-label" for="title">Post Title</label>
  </div>

  <!-- Message input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="content" class="form-control" />
    <label class="form-label" for="content">Post Content</label>
  </div>

  <div data-mdb-input-init>
    <label class="form-label" for="imgFile">Upload picture</label>
    <input type="file" class="form-control" id="imgFile" />
  </div>

<br/>

  <!-- Submit button -->
  <button data-mdb-ripple-init type="submit" class="btn btn-primary ">Create</button>

</form>
