@{
    ViewData["Title"] = "My Profile";
}

     <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js';
        import { getDatabase, ref as dbRef, set, push, onValue, update, remove } from 'https://www.gstatic.com/firebasejs/9.1.3/firebase-database.js';
        import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.1.3/firebase-storage.js";
        import { getAuth, onAuthStateChanged, updateProfile } from 'https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js';


        const firebaseConfig = {
            apiKey: "AIzaSyB8WcalDpquZO5Xhq2fgCP7rA3IC-Qdfvg",
            authDomain: "dotnetsocialmedia-df2ee.firebaseapp.com",
            databaseURL: "https://dotnetsocialmedia-df2ee-default-rtdb.firebaseio.com",
            projectId: "dotnetsocialmedia-df2ee",
            storageBucket: "dotnetsocialmedia-df2ee.appspot.com",
            messagingSenderId: "630837754281",
            appId: "1:630837754281:web:99bc8cc7376d26b3b6acb8",
            measurementId: "G-VCEN603ERC"
        };

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        const storage = getStorage(app);
        const auth = getAuth(app);

        const editprofile = document.getElementById('editProfile');
        const profile = document.getElementById('profileList');

        window.editProfile = function () {

            editprofile.style.display = 'revert'; 
            profile.style.display = 'none';

        onAuthStateChanged(auth, (usercur) => {
        if (usercur) {
            document.getElementById('EprofilePic').src = usercur.photoURL;
            document.getElementById('EfirstName').value = ((usercur.displayName).split(" "))[0];
            document.getElementById('ElastName').value = ((usercur.displayName).split(" "))[1];
          } else {
        console.log("User logged out!");
          }
        });

            document.getElementById('updateProfileForm').addEventListener('submit', (event) => {
                event.preventDefault();

                const firstName = document.getElementById('EfirstName').value;
                const lastName = document.getElementById('ElastName').value;

                const picFile = document.getElementById('EpicFile');
                const file = picFile.files[0];  

                if(file){

                    const imgRef = storageRef(storage, `images/${file.name}`);

                try{
                
                    uploadBytes(imgRef, file).then((snapshot) => {

                        getDownloadURL(snapshot.ref).then((downloadURL) => {

                            updateProfile(auth.currentUser, {
                            displayName: `${firstName} ${lastName}`, photoURL: `${downloadURL}`
                            }).then(() => {
                            alert("Profile picture and displayname updated.");
                window.location.href="/Main/Profile";
                            }).catch((error) => {
                            consol.log("Error Message: ", error);
                            });
  
                        });
                    });
                
                } catch(error) {
                
                alert('Upload failed:', error);
                
                }

                }   else {

        onAuthStateChanged(auth, (usercur) => {
        if (usercur) {


                    updateProfile(auth.currentUser, {
                      displayName: `${firstName} ${lastName}`, photoURL: `${usercur.photoURL}`
                    }).then(() => {
                        alert("Profile picture and displayname updated.");
                    window.location.href="/Main/Profile";
                }).catch((error) => {
                    consol.log("Error Message: ", error);
                    });



          } else {
        console.log("User logged out!");
          }
        });



                }

               
            });

        };

        function loadProfile() {
                        profile.innerHTML = '';

        onAuthStateChanged(auth, (user) => {
        if (user) {

                        var profileCont = `<ul class="list-group list-group-light">`
                        +`<li class="list-group-item d-flex justify-content-between align-items-center">`
                        +`<div class="d-flex align-items-center">`
                        +`<img src=${user.photoURL} alt="" style="width: 45px; height: 45px" class="rounded-circle" />`
                        +`<div class="ms-3">`
                        +`<p class="fw-bold mb-1">${user.displayName}</p>`
                        +`<p class="text-muted mb-0">${user.email}</p>`
                        +`</div>`
                        +`</div>`
                        +`<button onclick="editProfile();" class="btn btn-link btn-rounded btn-sm" role="button">Edit Profile</button>`
                        +`</li>`;

                    profileCont = profileCont + `<hr>`;

            const followsRef = dbRef(database, `Followers/${user.uid}`);

            onValue(followsRef, (snapshot) => {
                const follows = snapshot.val();
                if(follows){

                    Object.keys(follows).forEach(id => {
                        const follower = follows[id];
                        profileCont = profileCont + `<p><img src=${follower.photoURL} alt="" style="width: 45px; height: 45px" class="rounded-circle" />&nbsp;${follower.displayName}<\p>`
                    })

                                            profile.innerHTML = profileCont;

                }else{
                    console.log("No follower yet.");
                }
            });
                

        } else {
        console.log("User logged out!");
        }

        });
        
        }

        document.addEventListener('DOMContentLoaded', () => {
            loadProfile();
            editprofile.style.display = 'none'; 
      });

</script>

<div id="profileList"></div>

<div id="editProfile">
<h3>Edit profile</h3>
<form id="updateProfileForm">

    <div data-mdb-input-init class="mb-4">
    <label>First Name: </label>
    <input type="text" id="EfirstName" class="form-control" />
    </div>

    <div data-mdb-input-init class="mb-4">
    <label>Last Name:</label>
    <input type="text" id="ElastName" class="form-control" />
    </div>
    
    <div data-mdb-input-init class="form-outline mb-4">
    <img src="" alt="" style="width: 45px; height: 45px" class="rounded-circle" id="EprofilePic"/>
    </div>

    <div data-mdb-input-init>
    <label class="form-label" for="EpicFile">Upload Profile Picture</label>
    <input type="file" class="form-control" id="EpicFile" />
    </div>
    <br/>
    <button data-mdb-ripple-init type="submit" class="btn btn-primary">Update</button>
    </form>

</div>


